<div id="pegloading" ng-show="loadFlag" class="showLoading" style="width: 100%;height: 100%; margin: 0 auto;"></div>
<div class = "row container">
	<div class = "row header">
				San Fransisco vehicle Navigation
	</div>
	<div class = "row container_body" >
		<div class=" col-sm-2 col-md-2 c_pannel">
			
			<div class="row agency_tab" >
				<label>Agency :</label> sfmuni
			</div>
			<div class="row route_tab" >
				<label>Route:</label><select ng-model="selectedroute" style="width: 100px">
						<option ng-repeat="obj in agencyList" value="{{obj.tag}}">{{obj.title}}</option>
				</select>
				<button ng-click="add(selectedroute)" class="add_button" >Add</button>
			</div>
			<div class="row controls" >
				<label>Show Stops:</label><input type="checkbox" ng-model="config.showStops" name="stops"></input><br>
				<label>Show Vehicles:</label><input type="checkbox" ng-model="config.showVehicles" name="vehicle"></input>
			</div>

			<div class="row s_tab" >
				<div class="row">
					<label> Selected Routes:</label>
				</div>
				<div class="row s_routes" ng-repeat="routeName in selectedroutes" style="background: {{routeName.color}};"><label>{{routeName.route}}</label><label class="close" style="" ng-click="remove($index)" title="close">x</label></div>
			</div>
			
		</div>
		<div class="col-sm-10  col-md-10 zoom_p" >
			<div id="chart" class="height">
				<div class="zoom_container">
					<div class="zoom_padding"><button value="+" ng-click="zoom(30000)" class="zoom">+</button></div>
					<div class="zoom_padding"><button value="-" ng-click="zoom(-30000)" class="zoom">-</button></div>
					
				</div>
				<!-- ****************************** Directive Signature ***************************************** -->
				<sfmap id="chart" api="control" basemapdata="baseMapdata" locationdata="locationData" routedata="routeData" config="config"></sfmap>	
			</div>
		</div>
	</div>
</div>