html,body {
    height: 100%;
    width: 100%;
  }

.row{
    margin: 0px !important;
  }


.container{
	height: 100%;
	width: 99%;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.header{
	height:5%;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	border-radius: 10px 10px 0px 0px;
	background: #828282;
	color: white;
}
.container_body{
	height: 95%;
	width: 100%;
}
.showLoading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index:111125;
    background: url('../images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.c_pannel{
	height: 100%;
	background: #B7B5AE;
}
.agency_tab{
	height: 5%;margin-top: 5px !important;
}
.route_tab{
	height: 5%;position: absolute;top: 5%;
}
.add_button{
	border-radius: 5px;color: white;background: grey;
}
.controls{
	height: 10%;position: absolute;top: 12%;
}

.s_tab{
	max-height: 80%;position: absolute;top: 20%;overflow: auto;
}

.s_routes{
	float: left;
	min-width: 50px;
	border-radius: 3px;
	margin-left: 5px !important;
	margin-top:5px !important;
	color:#fff;
	text-align: center;
}
.close{
	color: #ffffff;
	font-size: 11px;
	float: right;
	margin-right:5px;
	opacity: 0.4
}
.zoom_padding{
	padding: 10px
}
.zoom{
	width: 40px;height: 40px;font-size: 20px
}
.zoom_container{
	float: right;position: absolute;left:90%;
}
.zoom_p{
	height: 100%;background: #FFFCEF;overflow: auto;
}
.width{
	width: 100%;
}
.height{
	height: 100%;
	overflow: hidden;
}



